.notice-container {
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.headernotice {
    text-align: center;
    margin-bottom: 20px;
}

.logonotice {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.green-link {
    color: green;
    font-size: 1rem;
    text-decoration: none; 
    transition: color 0.2s ease, font-size 0.2s ease;
}

.green-link:hover,
.green-link:active,
.green-link:focus {
    color: orange;
    font-size: 1.03rem;
}

@media (max-width: 768px) {
    .green-link {
        font-size: 0.85rem; 
    }

    .green-link:hover,
    .green-link:active,
    .green-link:focus {
        font-size: 0.9rem;
    }
}