.preforgot-input {
  width: 100%;
  height: 45px;
  padding-right: 45px; /* <-- ADD THIS */
  box-sizing: border-box; /* ensure padding doesn't increase width */
}
.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.preforgot .input-wrapper .toggle-eye {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #666;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  top: 40%;
  transform: translateY(-50%);
}

