.eform-page {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.eform-header {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.eform-header span{
    color: #0a3d18;
}

.eform-password {
    font-size: 12px;
    color: #555;
    margin: 5px 0 20px 0;
}

.password {
    color: red;
    font-weight: bold;
}

.eform-tabs {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.eform-tab {
    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
}

.eform-tab.active {
    border-bottom: 3px solid #007bff;
    font-weight: bold;
}

.eform-content {
    border: 1px solid #cce0ff;
    background-color: #f5faff;
    padding: 30px;
    min-height: 400px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eform-document img {
    width: 80px;
    margin-bottom: 15px;
}

.eform-document h1 {
    color: #008000;
    font-size: 48px;
    margin: 0;
}

.eform-document p {
    font-size: 16px;
    color: #008000;
}
