/* Container & fonts */
.classrooms-container {
    padding: 100px 32px;
    background-color: #f8f9fa;
    font-family: "Segoe UI", sans-serif;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Header */
.classrooms-container h1 {
    font-size: 2rem;
    color: #0a3d18;
    margin-bottom: 0.3rem;
}

.classrooms-header p {
    color: #555;
    margin-bottom: 20px;
}

/* Search + Add controls */
.classrooms-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.classrooms-search {
    padding: 8px 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.classrooms-add-btn {
    background-color: #0a3d18;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.classrooms-add-btn:hover {
    background-color: #097129;
}

.classrooms-table-container {
    overflow-x: auto;
}

.classrooms-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.classrooms-table th,
.classrooms-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.classrooms-table th {
    background-color: #0a3d18;
    color: white;
}